.pagePersonalAccount {
    margin-left: 5%;
}

.tableInfo {
    margin-top: 3%;
}

.tableLesser {
    width: 400px;
    margin-top: 3%;
    border: 4px double #bac0cc; /* Параметры границы */
    padding: 10%; /* Поля вокруг текста */
}

.balance {
    border: 4px double #bac0cc; /* Параметры границы */
    padding: 10px; /* Поля вокруг текста */
    width: 400px;
}

.rental {
    border: 4px double #bac0cc; /* Параметры границы */
    padding: 10px; /* Поля вокруг текста */
    width: 600px;
}

.selectScooter {
    margin-top: 2.5%;
    border: 4px double #bac0cc; /* Параметры границы */
    padding: 10px; /* Поля вокруг текста */
    width: 600px;
}

.container > div {
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
}

.container {
    display: grid;
    grid-template-columns: 50% 50% 50%;
}

.columnLesser {
    float: left;
    width: 35%;
    padding: 15px;
}

.titleDop {
    margin-left: 20%;
    color: #660033;
    opacity: 0.8;
}

/* Clear floats after the columns */
.rowLesser:after {
    content: "";
    display: table;
    clear: both;
}

.buttonDeposit {
    width: 300px;
}

.buttonshowinfo {
    width: 570px;
}

.buttonPaymentInfo {
    width: 400px;
}

.buttonInfoScooter {
    width: 600px;
}


.buttonNewScooter {
    width: 600px;
}


.select{
    width: 300px;
}

.scooter{
    opacity: 0.8;
    font-size: 150%;
}