body {
    margin-top: 1%;
}

.startLogo {
    margin-left: 20%;
    margin-top: 2%;
}

.formLogin {
    margin-top: 1%;
    margin-left: 45%;
}

.input {
    margin-top: 1%;
    width: 300px;
}

.buttonNewApplier {
    margin-top: 2%;
    margin-left: 37%;
    width: 300px
}

.errorMsg {
    fontSize: 30;
    background: salmon;
    width: 300px;
    font-weight: bold;
}

.option {
    width: 300px;
}

.title{
    margin-left: 0%;
    color: #ffffff;
    font-weight: bold;
}