

.tableMoto{
    margin-left: 10%;
}

.columnScooter {
    float: left;
    width: 50%;
    padding: 15px;
}
.titleDop{
    margin-left: 35%;
    color: #660033;
}

.titleDop2{
    margin-left: 35%;
    color: #660033;
    opacity: 0.4;
}

/* Clear floats after the columns */
.rowScooter:after {
    content: "";
    display: table;
    clear: both;
}

.tableInfoScooter{
    margin-left: 30%;
}

/*table, td, th {*/
/*    border: 1px solid black;*/
/*}*/

/*th {*/
/*    background-color: rgba(255, 164, 170, 0.58);*/
/*    color: #020202;*/
/*}*/

.tableInfoMoto{
    margin-left: 20%;
}

.tablerenthistory{
    margin-left: 10%;
    margin-right: 10%;
}