body {
    background: url('../components/start_logo2.jpg') no-repeat;
    background-size: 100%;

}

.title1{
    margin-top: 3%;
    margin-left: 57%;
    color: #ffffff;
    opacity: 0.5;
}

.title2{
    margin-top: 1%;
    margin-left: 57%;
    color: #ffffff;
    font-weight: bold;
}