<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.saskek17" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="ScooShar">
    android:usesCleartextTraffic="true"
    android:networkSecurityConfig="@xml/network_security_config"
  </application>
	<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyD5Ne9Ww1XJAJlGd6CmSC6qCiBxfUO6-OQ" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>